@import url(https://fonts.googleapis.com/css?family=Nunito);
/* Custom font sizes for headings */
.note-editor>.note-editing-area {
    background-color: #d9dce0; /** lightgray **/
}

.note-editor>.note-editing-area h1,     .webpage .main_title h1 { font-size: 85px !important; }
.note-editor>.note-editing-area h2,     .webpage .main_title h2 { font-size: 84px !important; }
.note-editor>.note-editing-area h3,     .webpage .main_title h3 { font-size: 60px !important; }
.note-editor>.note-editing-area h4,     .webpage .main_title h4 { font-size: 55px !important; }
.note-editor>.note-editing-area h5,     .webpage .main_title h5 { font-size: 46px !important; }
.note-editor>.note-editing-area h6,     .webpage .main_title h6 { font-size: 42px !important; }

.note-editor>.note-editing-area h1 b, .note-editor>.note-editing-area h2 b, .note-editor>.note-editing-area h3 b,  .note-editor>.note-editing-area h4 b,     
.main_title>h1 b, .main_title>h2 b, .main_title>h3 b, .main_title>h4 b{font-weight: 900 !important;}

.note-editor>.note-editing-area h6 b,   .main_title>h6 b{font-weight: 700 !important;}

blockquote { position: relative; padding: 2px 15px; }
blockquote>p, blockquote>span { margin: 0px; padding: 0px; }
blockquote:after {
    background-color: #FF5757;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.pre_footer blockquote{ padding: 8px 10px 3px 8px; }
.pre_footer blockquote:after { width: 100vw; }

a.btn>p { margin-bottom: 0px; }
:root {
    --color_primary: #1a1a1a;
    --color_seconday: #FF5757;
    --color_seconday_dark: #df4d4d;
}


.main-sidebar {
    background-color: var(--color_primary);
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--color_seconday);
}

.bg-primary, .bg-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--color_seconday) !important;
    border-color: var(--color_seconday) !important;
}

.btn-primary, .btn-primary:hover, .page-item.active .page-link {
    background-color: var(--color_seconday);
    border-color: var(--color_seconday);
}
a {
    color: var(--color_seconday);
}
a:hover {
    color: var(--color_seconday_dark);
}

.note-editable {
    max-height: 400px;
    overflow-y: auto;
}

.admin section.content>.content.list_view>.card>.card-body>.card-footer.clearfix{ display: none; }

.select2-container--default .select2-selection--single { height: auto; }
.select2-container .select2-selection--single { height: 40px; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 40px; }


